{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="attractionBox">
        <div class="attractionBoxInside">
            <div class="attractionTop">
                <div class="attractionTopLeft"></div>
                <div class="attractionTopRight"></div>
            </div>
            <hr class="attractionHr" style="border: 1px solid #E8E8E8; height: 0px">
            <div class="attractionBottom"></div>
        </div>
    </div>
    <script src="/static/js/attraction.js"></script>
{% endblock %}