{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <div class="sectionBox">
        <div class="helloItems"></div>
    </div>
    <div class="sectionBox">
        <div class="bookingItems"></div>
    </div>
    <div class="sectionBox">
        <div class="contactItems"></div>
    </div>
    <div class="sectionBox">
        <div class="creditItems"></div>
    </div>
    <div class="priceItems"></div>

    <script src="/static/js/booking.js"></script>
{% endblock %}