{% extends "layout.html" %}

{% block title %}
    <title>台北一日遊</title>
{% endblock %}

{% block main %}

    <div class="welcome">
        <img class="welcomeImg" src="/static/image/welcome.png" alt=""/>                    
        <div class="searchBox">
            <div class="searchTitle">輕鬆享受台北一日悠閒</div>
            <div class="searchComment">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="searchHere">
                <input class="searchInput" name="search" placeholder="請輸入景點名稱查詢" type="text"/>
                <button class="searchButton" type="submit">
                    <img src="/static/image/icon_search.png" alt=""/>
                </button>
                <!-- <button onclick="chooseCat()">test</button> -->
            </div>
            <div class="categories"></div>
        </div>
    </div>
    <div class="indexAttractions">
        <div class="indexAttractionsBox"></div>
    </div>
    <script src="/static/js/index.js" defer></script>


{% endblock %}