*{
    margin: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
html{
    height: 100%;
}
body{
    position: relative;
    top: 0px;
    left: 0px;
}
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background: #FFFFFF;
    z-index: 5;
    border: 1px solid;
    border-color: #e4e4e4;
    border-width: 1px;
}
main{
    position: relative;
    top: 54px;
    min-height: calc(100vh - 158px);
}
footer{
    position: relative;
    background-color: #757575;
    color: #f8f8f8;
    text-align: center;
    line-height: 104px;
    height: 104px;
    width: 100%;
    top: 54px;
}
.top {
    position: relative;
    display: flex;
    width: 1200px;
}
.topleft{
    font-size: 30px;
    line-height: 54px;
}
.tpTrip{
    display: inline;
    cursor: pointer;
    font-size: 30px;
    color: #448899;
    line-height: 54px;
    font-weight: 700;
    font-family: 'Noto Sans TC';
    font-style: normal;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.topRight{
    position: absolute;
    display: flex;
    font-size: 16px;
    align-items: center;
    float: right;
    right: 0px;
    line-height: 54px;
}
.project{
    display: inline;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    color: #666666;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.login{
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    color: #666666;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* Index */
.welcome{
    position: relative;
    display: flex;
    justify-content: center;
}
.welcomeImg{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: left top;
    display: block;
}
.searchBox{
    margin-left: 10px;
    top: 81px;
    width: 1200px;
    position: absolute;
}
.searchTitle{
    color: #f8f8f8;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
}
.searchComment{
    color: #f8f8f8;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
}
.searchHere{
    display: flex;
    margin-right: 35px;
}
.searchInput{
    width: 385px;
    border-width: 0px;
    padding-left: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.input,input::placeholder{
    font-size: 16px;
}
.searchButton{
    height: 46px;
    width: 60px;
    background: #448899;
    border-width: 0px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchButton:hover{
    transform: scale(1.05);
}
.searchButton:active{
    transform: scale(1);
}
.categories{
    display: none;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width: 400px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #AABBCC;
}
.searchCategories{
    position: relative;
    width: 120px;
    height: 40px;
    gap: 4px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 2;
}
.searchCategories:hover{
    background-color: #E8E8E8;
}
.searchCategories:active{
    background-color: #FFFFFF;
}
.ghostSearch{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}
.indexAttractions{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-bottom: 25px;
}
.indexAttractionsBox{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1;
}
.indexAttrBox{
    width: 270px;
    position: relative;
    margin: 15px;
    border-radius: 5px;
    border-color: #757575;
    cursor: pointer;
}
.indexAttrBox:hover .indexAttractionNameDiv{
    z-index: 2;
    height: 100%;
    top: 0;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e4e4e4;
}
.indexAttractionId{
    position: absolute;
    visibility: hidden;
}
.indexAttractionImg{
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    aspect-ratio: 270/197
}
.indexAttractionNameDiv{
    display: flex;
    position:absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 40px;
    bottom: 45px;
    line-height: 40px;
    align-items: center;
}
.indexAttractionName{
    display: inline-block;
    color: #FFFFFF;
    padding-left: 10px;
    font-weight: 700;
    vertical-align: middle;
}
.indexMrtAndCat{
    position: relative;
    display: flex;
    width: 100%-2px;
    height: 43px;
    line-height: 43px;
    border: 1px solid;
    border-color: #e4e4e4;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.indexAttractionMrt{
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}
.indexAttractionCat{
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    right: 10px;
    color: #757575;
}
/* attractions */
.attractionBox{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.attractionBoxInside{
    width: 1200px;
    position: relative;
}
.attractionTop{
    position: relative;
    display: flex;
    height: 400px;
    min-height: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.attractionTopLeft{
    display: flex;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 540px;
}
.attractionImage{
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
}
.imgRadio{
    position: absolute;
    height: 100%;
    width: 100%;
}
.radioInput{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.radio{
    margin: 2px;
    opacity: 0.6;
}
.imgArrow{
    position: absolute;
    height: 100%;
    width: 100%;
}
.arrow{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.leftArrow{
    left: 0px;
    margin: 10px;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    z-index: 2;
}
.leftArrow:hover{
    transform: scale(1.05);
    opacity: 1;
}
.leftArrow:active{
    transform: scale(1);
    opacity: 0.6;
}
.rightArrow{
    margin: 10px;
    position: absolute;
    right: 0px;
    opacity: 0.6;
    cursor: pointer;
    z-index: 2;
}
.rightArrow:hover{
    transform: scale(1);
    opacity: 1;
}
.rightArrow:active{
    transform: scale(1);
    opacity: 0.6;
}
.attractionTopRight{
    margin-left: 15px;
    margin-right: 15px;
    width: 600px;
    position: relative;
}
.attractionName{
    position: relative;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
}
.attractionMrtCat{
    position: relative;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 15px;
}
.attractionBooking{
    position: relative;
    width: 100%;
    height: 315px;
    min-height: 300px;
    background: #E8E8E8;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.bookingBox{
    position: relative;
    margin-left: 20px;
    top: 15px;
}
.bookingTitle{
    margin-top: 15px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
}
.bookingContent{
    margin-top: 15px;
}
.bookingDate{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.dateTitle{
    line-height: 35px;
    margin-right: 5px;
}
.chooseDate{
    padding-left: 10px;
    border-style: none;
    width: 180px;
    margin-right: 10px;
}
.bookingTime{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    line-height: 22px;
}
.timeTitle{
    line-height: 22px;
}
.chooseTime{
    display: flex;
    flex-wrap: flex;
    line-height: 22px;
}
.chooseMorning{
    margin-left: 12px;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    border-style: none;
}
.chooseAfternoon{
    margin-left: 18px;
    margin-right: 4px;
    width: 22px;
    height: 22px;
    border-style: none;
}
.bookingFee{
    margin-top: 15px;
    display: flex;
}
.feeTitle{
    font-weight: 700;
}
.bookingSubmit{
    margin-top: 25px;
    height: 36px;
    width: 154px;
    background-color: #448899;
    border-radius: 5px;
    border-style: none;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}
.bookingSubmit:hover{
    transform: scale(1.05);
}
.bookingSubmit:active{
    transform: scale(1);
}
.attractionBottom{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}
.AddressTitle{
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
}
.transportTitle{
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin-top: 20px;
}
/* RWD */
@media (max-width:1199px) {
    /* index */
    .top{
        width: 90%;
    }
    .searchBox{
        width: 90%;
    }
    .indexAttrBox{
        width: 45%;
    }
    .indexAttractionImg{
        height: auto;
    }
    /* attraction */
    .attractionBoxInside{
        width: 100%;
    }
    .attractionTop{
        height: auto;
    }
    .attractionTopLeft{
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    .attractionTopRight{
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    .bookingContent{
        margin-right: 15px;
    }
    .attractionBottom{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:599px) {
    .top{
        width: 95%;
    }
    .indexAttrBox{
        width: 90%;
    }
    .categories{
        width: 85%
    }
    .searchCategories{
        width: 30%
    }
    .attractionTop{
        display: block;
        height: auto;
        margin-top: 0px;
    }
    .attractionTopLeft{
        display: flex;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%;
    }
    .attractionTopRight{
        width: calc(100% - 20px);
    }
    .attractionBooking{
        min-height: 300px;
    }
}