<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/layout.css" />
    <!-- CSS only -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="top">
            <div class="topLeft">
                <div class="tpTrip" onclick="window.location='/';">台北一日遊</div>
            </div>
            <div class="topRight">
                <div class="project">預定行程</div>
                <div id="logout" class="getRegisterLogin">登出系統</div>    
                <div id="getRegisterLogin" class="getRegisterLogin">登入/註冊</div>   
            </div>
        </div>
    </nav>

    <div class="login">
        <div class="loginBox">
            <div class="loginHeader"></div>
            <div class="loginTitle">登入會員帳號</div>
            <input id="loginEmail" class="loginEmail" type="text" placeholder="請輸入電子信箱" name="loginEmail"/>
            <input id="loginPassword" class="loginPassword" type="password" placeholder="輸入密碼" name="loginPassword"/>
            <button id="loginBtn" class="loginBtn">登入帳號</button>
            <div class="loginFail"></div>
            <div class="registerNow">還沒有帳戶？點此註冊</div>
            <div class="leaveBox">
                <img class="loginLeave" src="/static/image/icon_close.png" alt="">
            </div>
        </div>
    </div>
    <div class="register">
        <div class="registerBox">
            <div class="loginHeader"></div>
            <div class="loginTitle">註冊會員帳號</div>
            <input id="registerName" class="loginEmail" type="text" placeholder="輸入姓名" name="registerName"/>
            <input id="registerEmail" class="loginEmail" type="text" placeholder="請輸入電子信箱" name="registerEmail"/>
            <input id="registerPassword" class="loginPassword" type="password" placeholder="輸入密碼" name="registerPassword"/>
            <button id="registerBtn" class="loginBtn">註冊新帳戶</button>
            <div class="registerFail"></div>
            <div class="loginNow">還沒有帳戶？點此註冊</div>
            <div class="leaveBox">
                <img class="registerLeave" src="/static/image/icon_close.png" alt="">
            </div>
        </div>
    </div>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div class="copyright">COPYRIGHT © 2021 台北一日遊</div>
    </footer>
    <script src="/static/js/layout.js"></script>
</body>